{
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "indent": ["error", 2]
  },
  "globals": {
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "test": false,
    "expect": false
  },
  "extends": [
    "eslint:recommended"
  ]
}
